{% extends 'partials/base.html'%}

{% load crispy_forms_tags %}

{% block title %} Edit Food Log {% endblock %}
 
{% block content %}

<h1>Edit Logs HERE</h1>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
    tr:hover {background-color: #D6EEEE;}
</style>
<table style="width:100%">
    <tr>
        <th>Username</th>
        <th>Date</th>
        <th>Meal Type</th>
        <th>Food Name</th>
        <th>Quantity</th>
        <th>Measurement</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    {% for row in data %}
    <tr>
        <td>{{row.username}}</td>
        <td>{{row.date}}</td>
        <td>{{row.meal_type}}</td>
        <td>{{row.food_name}}</td>
        <td>{{row.quantity}}</td>
        <td>{{row.measurement}}</td>
        <td><a href="{% url 'edit' id=row.id %}">Edit</a></td>
        <td><a href="{% url 'delete' id=row.id %}" onclick="if (confirm('Do you want to delete the food log?')){return true;}else{event.stopPropagation(); event.preventDefault();};">Delete</a></td>
    </tr>
    {% endfor %}
    
</table>

{% endblock %}