{% extends 'partials/base.html'%}

{% load crispy_forms_tags %}
 
{% block title %} Food Entry {% endblock %}
 
{% block content %}
<br>
<h1>Food Journal</h1>
<div class = "border p-3 shadow">
    <h4>Add An Entry</h4>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class = 'btn btn-success btn-block' type='submit' value = 'Log Food'>
    </xform>
</div>
<br>
<div class = "border p-3 shadow">
    <a href="{% url 'add_food' %}">
    <h4>Don't see your food? Click here to add it!</h4>
</div>

<br><br>

{% endblock %}