{% extends 'partials/base.html'%}
 
{% block title %} Reports {% endblock %}
 
{% block content %}
<br><br><br>
<h1>View your reports here</h1>
<br>
<div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
  <canvas id="myChart9" width="400" height="50"></canvas>
  <script>
  const ctx9 = document.getElementById('myChart9').getContext('2d');
  const myChart9 = new Chart(ctx9, {
      type: 'bar',
      data: {
          labels: ['Red'],
          datasets: [{
              label: '# of Votes',
              data: [12],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 5,
          }]
      },
      options: {
        responsive: true,
        indexAxis: 'y',
          scales: {
              x: {
                beginAtZero: true,
                max:15
            }
          }
      }
  });
  </script>
</div>

<div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
  <canvas id="myChart8" width="400" height="50"></canvas>
  <script>
  const ctx8 = document.getElementById('myChart8').getContext('2d');
  const myChart8 = new Chart(ctx8, {
      type: 'bar',
      data: {
          labels: ['Red'],
          datasets: [{
              label: '# of Votes',
              data: [12],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 5
          }]
      },
      options: {
        indexAxis: 'y',
          scales: {
              x: {
                  beginAtZero: true,
                  max:15
              }
          }
      }
  });
  </script>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<div>
  <h3> </h3>
    <canvas id="myChart" width="400" height="300"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for today in datesWeek %} '{{today}}', {% endfor %}],
                datasets: [{
                    label: 'Micronutrients',
                    data: [{% for micro in recMicroNutrients %} '{{recMicroNutrients}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                layout: {
                    padding:20
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>

<div>
<h3>{{actualSodiumValue}}</h3>
<!-- <h3>{% for value in actualSodiumQuantity%} '{{value}}' {%endfor%}</h3> -->
<!-- <h3>{{test}}</h3> -->
<!-- <h3>{% for value in actualSodiumValue%} '{{value.sodium_mg}}' {%endfor%}</h3> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <canvas id="myChart2" width="400" height="300"></canvas>
    <script>
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
              labels: [{% for today in datesWeek %} '{{today}}', {% endfor %}],
                datasets: [{
                    label: 'Micronutrient Trends',
                    data: [{% for micro in recMicroNutrients %} '{{recMicroNutrients.value}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}

