{% extends 'partials/base.html'%}

{% block title %} Reports {% endblock %}
 
{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

{% comment %} <script src="path/to/chartjs/dist/chart.min.js"></script>
<script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script> {% endcomment %}
<br><br><br>
<h3>View daily totals for {{curr_date_for_bar}}</h3>
{% comment %} <h1> {% for user in test%} '{{user}}' {%endfor%} {% endcomment %}
{% comment %} <h3> {{test}} </h3> {% endcomment %}
<br>
<br>
{% block userselect %}

{% endblock %}

{% if logsFound == False %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 100%;
    virtical-align: middle;
    font-size: 20px">
      No Food Entries Today
    </div>
  </div>
{% endif %}

<div class="container-sm">
<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <canvas id="myChartWater" width="400" height="35"></canvas>
    <script src="path/to/chartjs/dist/chart.min.js"></script>
    <script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
        var water = 0
        var person = "{{curr_user.gender}}"
        if (person === "M" ||"m" || "Male" || "male") {
            person = "M"
            water = 3.7
        } else {
            person = "F"
            water = 2.7
        }
        
        var limitWater = 0

        if ({{actualByDay.water}} > water){
            limitWater = {{actualByDay.water}} + 2
        } else if (water > {{actualByDay.water}}) {
            limitWater = water + 2
        } else
            limitWater = water + 2

    const ctxWater = document.getElementById('myChartWater').getContext('2d');
    const myChartWater = new Chart(ctxWater, {
        type: 'bar',
        data: {
            labels: ['Water'],
            datasets: [{
                label: 'Amount Of Water (L)',
                data: [{{actualByDay.water}}],
                backgroundColor: [
                    '#6398c9',

                ],
                borderColor: [
                    '#145970'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        limitLine1: {
                            type: 'line',
                            xMin: water,
                            xMax: water,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLabel1: {
                            type: 'label',
                            xValue: water,
                            content: ['Water Minimum']
                        },
                    }
                }
            },
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: limitWater
                }
            }
        }
    });
    </script>
</div>

<!-- WATER ALERT BASED ON DAILY LEVELS-->
{% if waterAlert %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <p>&nbsp &nbsp You have exceeded your recommended water levels for the day!</p>
        </div>
    </div>
{% endif %}


<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <canvas id="myChartSodium" width="400" height="35"></canvas>
    <script src="path/to/chartjs/dist/chart.min.js"></script>
    <script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
    sodiumLimit1 = {{recByMicro.sodium_min}};
    sodiumLimit2 = {{recByMicro.sodium_max}};

    limitSodium = 0

    if ({{actualByDay.sodium}} > {{recByMicro.sodium_max}}){
        limitSodium = {{actualByDay.sodium}} + 1000
    } else if ({{recByMicro.sodium_max}} > {{actualByDay.sodium}}) {
        limitSodium = {{recByMicro.sodium_max}} + 1000
    } else
        limitSodium = {{recByMicro.sodium_max}} + 1000

    const ctxSodium = document.getElementById('myChartSodium').getContext('2d');
    const myChartSodium = new Chart(ctxSodium, {
        type: 'bar',
        data: {
            labels: ['Sodium'],
            datasets: [{
                label: 'Amount Of Sodium (mg)',
                data: [{{actualByDay.sodium}}],
                backgroundColor: [
                    '#cd91e6'
                ],
                borderColor: [
                    '#8D188F'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        limitLine1: {
                            type: 'line',
                            xMin: sodiumLimit1,
                            xMax: sodiumLimit1,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLine2: {
                            type: 'line',
                            xMin: sodiumLimit2,
                            xMax: sodiumLimit2,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLabel1: {
                            type: 'label',
                            xValue: sodiumLimit1,
                            content: ['Sodium Minimum'],
                        },
                        limitLabel2: {
                            type: 'label',
                            xValue: sodiumLimit2,
                            content: ['Sodium Maximum']
                        }
                    }
                }
            },
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: limitSodium
                }
            }
        }
    });
    </script>
</div>

<!-- Sodium ALERT BASED ON DAILY LEVELS-->
{% if sodiumAlert %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <p>&nbsp &nbsp You have exceeded your recommended sodiumn levels for the day!</p>
    </div>
</div>
<div>
    <p>
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseSodium" aria-expanded="false" aria-controls="collapseSodium">Food Recommendations</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse" id="collapseSodium">
            <div class="card card-body">
                <b>Suggestions:</b>
                <ul>
                <li>Buy fresh food often. Sodium (a part of salt) is added to many prepared or packaged foods you buy at the supermarket or at restaurants.</li>
               <li>Cook foods from scratch instead of eating prepared foods, “fast” foods, frozen dinners, and canned foods that are higher in sodium. When you prepare your own food, you control what goes into it.
            </li>
               <li>Use spices, herbs, and sodium-free seasonings in place of salt.
            </li>
                <li>Check for sodium on the Nutrition Facts label of food packages. A Daily Value of 20 percent or more means the food is high in sodium.</li>
                <li> Try lower-sodium versions of frozen dinners and other convenience foods. </li>
                <li>  Rinse canned vegetables, beans, meats, and fish with water before eating. </li>
            </ul>
            </div>
          </div>
        </div>
    </div>
</div>


{% endif %}

<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <canvas id="myChartPotassium" width="400" height="35"></canvas>
    <script src="path/to/chartjs/dist/chart.min.js"></script>
    <script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
    potassiumLimit1 = {{recByMicro.potassium_min}};
    potassiumLimit2 = {{recByMicro.potassium_max}};

    limitPotassium = 0

    if ({{actualByDay.potassium}} > {{recByMicro.potassium_max}}){
        limitPotassium = {{actualByDay.potassium}} + 1000
    } else if ({{recByMicro.potassium_max}} > {{actualByDay.potassium}}) {
        limitPotassium = {{recByMicro.potassium_max}} + 1000
    } else
        limitPotassium = {{recByMicro.potassium_max}} + 1000


    const ctxPotassium = document.getElementById('myChartPotassium').getContext('2d');
    const myChartPotassium = new Chart(ctxPotassium, {
        type: 'bar',
        data: {
            labels: ['Potassium'],
            datasets: [{
                label: 'Amount Of Potassium (mg)',
                data: [{{actualByDay.potassium}}],
                backgroundColor: [
                    '#de7cb4'
                ],
                borderColor: [
                    '#DD2B90'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        limitLine1: {
                            type: 'line',
                            xMin: potassiumLimit1,
                            xMax: potassiumLimit1,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLine2: {
                            type: 'line',
                            xMin: potassiumLimit2,
                            xMax: potassiumLimit2,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLabel1: {
                            type: 'label',
                            xValue: potassiumLimit1,
                            content: ['Potassium Minimum']
                        },
                        limitLabel2: {
                            type: 'label',
                            xValue: potassiumLimit2,
                            content: ['Potassium Maximum']
                        }
                    }
                }
            },
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: limitPotassium
                }
            }
        }
    });
    </script>
</div>

<!-- Potassium ALERT BASED ON DAILY LEVELS-->
{% if potassiumAlert %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <p>&nbsp &nbsp You have exceeded your recommended potassium levels for the day!</p>
        </div>
    </div>
    <div>
        <p>
                   <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Food Recommendations</button>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <b>Avoid:</b>
                    <ul>
                    <li>Oranges, bananas, and orange juice</li>
                   <li>Potatoes, tomatoes</li>
                   <li>Brown and wild rice</li>
                    <li>Bran cereals</li>
                    <li>Whole-wheat bread and pasta</li>
                    <li>Dairy foods</li>
                    <li>Beans and nuts</li>
                </ul>
    
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <b>Consider Eating:</b>
                    <ul>
    
                     <li>Apples, peaches</li>
                     <li>Carrots, green beans</li>
                     <li>Rice milk (not enriched)</li>
                     <li>White bread and pasta</li>
                     <li>White rice</li
                     <li>Cooked rice and wheat cereals, grits</li>
                     <li>Apple, grape, or cranberry juice</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
{% endif %}

<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <canvas id="myChartphos" width="400" height="35"></canvas>
    <script src="path/to/chartjs/dist/chart.min.js"></script>
    <script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <script>
    phosLimit1 = {{recByMicro.phos_min}};
    phosLimit2 = {{recByMicro.phos_max}};

    limitPhos = 0

    if ({{actualByDay.phos}} > {{recByMicro.phos_max}}){
        limitPhos = {{actualByDay.phos}} + 500
    } else if ({{recByMicro.phos_max}} > {{actualByDay.phos}}) {
        limitPhos = {{recByMicro.phos_max}} + 500
    } else
        limitPhos = {{recByMicro.phos_max}} + 500

    const ctxphos = document.getElementById('myChartphos').getContext('2d');
    const myChartphos = new Chart(ctxphos, {
        type: 'bar',
        data: {
            labels: ['Phosphorus'],
            datasets: [{
                label: 'Amount Of Phosphorus (mg)',
                data: [{{actualByDay.phos}}],
                backgroundColor: [
                    '#9cf7a7'
                ],
                borderColor: [
                    '#2F9D0A'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        limitLine1: {
                            type: 'line',
                            xMin: phosLimit1,
                            xMax: phosLimit1,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLine2: {
                            type: 'line',
                            xMin: phosLimit2,
                            xMax: phosLimit2,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLabel1: {
                            type: 'label',
                            xValue: phosLimit1,
                            content: ['Phos Minimum']
                        },
                        limitLabel2: {
                            type: 'label',
                            xValue: phosLimit2,
                            content: ['Phos Maximum']
                        }
                    }
                }
            },
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: limitPhos
                }
            }
        }
    });
    </script>
</div>

<!-- phos ALERT BASED ON DAILY LEVELS-->
{% if phosAlert %}
<div class="container-sm">
<div class="align-text-bottom">
    <div class="alert alert-warning d-flex align-items-bottom h-25" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="12" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <p>&nbsp &nbsp You have exceeded your recommended phosphorus levels for the day!</p>
        </div>
    </div>
</div>
</div>
<div>
    <p>
               <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Food Recommendations</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <b>Avoid:</b>
                <ul>
                <li>Meat, poultry, fish</li>
               <li> Bran cereals and oatmeal</li>
               <li> Dairy foods</li>
                <li> Beans, lentils, nuts</li>
                <li> Dark-colored sodas/pop, fruit punch, some bottled or canned iced teas that have added phosphorus </li>
            </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <b>Consider Eating:</b>
                <ul>

                 <li> Fresh fruits and vegetables</li>
                 <li> Breads, pasta, rice</li>
                 <li>Rice milk (not enriched)</li>
                 <li>Corn and rice cereals</li>
                 <li>Light-colored sodas/pop, such as lemon-lime or homemade iced tea</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <canvas id="myChartprotien" width="400" height="35"></canvas>
    <script src="path/to/chartjs/dist/chart.min.js"></script>
    <script src="path/to/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>

    <script> 
    protienLimit1 =  {{recByMicro.protien_limit}};
    const ctxprotien = document.getElementById('myChartprotien').getContext('2d');
    const myChartprotien = new Chart(ctxprotien, {
        type: 'bar',
        data: {
            labels: ['Protein'],
            datasets: [{
                label: 'Amount Of Protein(g)',
                data: [{{actualByDay.protien}}],
                backgroundColor: [
                    '#fab669'
                ],
                borderColor: [
                    '#A55407'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        limitLine1: {
                            type: 'line',
                            xMin: protienLimit1,
                            xMax: protienLimit1,
                            backgroundColor: 'black',
                            borderWidth: 5,
                        },
                        limitLabel1: {
                            type: 'label',
                            xValue: protienLimit1,
                            content: ['Protein Goal'],
                        },
                    }
                }
            },
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: {{recByMicro.protien_limit}} + 50
                }
            }
        }
    });
    </script>
</div>

<!-- PROTIEN ALERT BASED ON DAILY LEVELS-->
{% if protienAlert %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <p>&nbsp &nbsp You have exceeded your recommended protien levels for the day!</p>
        </div>
    </div>
{% endif %}

<br>
<div class = "row mt-3 pt-3 float-left" style='text-align: center;'>
    <div class = "col mb-3">
            <a href="{% url 'editpage' %}" class="card-link">
                <button type="button" class="btn btn-success btn-lg"> Edit Past Entries</button>
            </a>
    </div>
</div>
<br><br><br>

</div>
<br><br><br>
<!-- LINE GRAPH  -->
<div class="container-sm">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<div>
{% if line_graph_logs_found %}
<h1>Explore trends in nutrients for {{curr_user.first_name}} {{curr_user.last_name}}</h1>
<h5> Displaying entries found for <em>{{nutrientType}}<em. Start date: {{curr_date}} Time range: {{timeRange}} days </h5>
{%else %}
<h1>Explore trends in nutrients for {{curr_user.first_name}} {{curr_user.last_name}}</h1>
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    virtical-align: middle;
    font-size: 20px">
        <h5>&nbsp No entries found for '{{nutrientType}}'. Start date: {{curr_date}}. Time range: {{timeRange}} days </h5>
    </div>
  </div>
{%endif%}
<div class="row">
<label for="microType" class='col'>Choose a nutrient:</label>
<label for="startDate" class='col'> Choose a start date:</label>
<label for="startDate" class='col'> Choose range of days:</label>
<label class='col'>                </label>
</div>
<form action="{% url 'reports' %}" id="microType" method="POST" name="microType"> {% csrf_token %}
    <div class="form-row">
        <div class="col">
    <select name="nutrientSelect" id="nutrientSelect" form="microType" class="form-control" value="protien" required>
        <option hidden disabled selected value>--Select an option--</option>
        <option value="protien">Protein</option>
        <option value="phosphorus">Phosphorus</option>
        <option value="water">Water</option>
        <option value="potassium">Potassium</option>
        <option value="sodium">Sodium</option>
      </select>
    </div>
    <div class="col">
    <input type="date" id="startDate" name="startDate" class="form-control" required>
    </div>
    <div class="col">
    <select name="dateRange" id="dateRange" form="microType" class="form-control" value="7" required>
        <option hidden disabled selected value>--Select an option--</option>
        <option value="7">Week</option>
        <option value="30">Month</option>
      </select>
    </div>
    <div class="col">
    <input class = 'btn btn-success form-control' type='submit' value = 'Submit'>
    </div>
</div>
  </form>
  


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <canvas id="myChart2" width="200" height="100"></canvas>
    <script>
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
              labels: [{% for today in datesWeek %} '{{today}}', {% endfor %}],
                datasets: [{
                    label: '{{nutrientType}}',
                    data: [{% for day in sliceNutrient %} '{{day}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
</div>
<br><br><br><br><br><br><br><br>

{% endblock %}

